<!DOCTYPE html>
<html lang="en">

<head>
    <title>Sainik Samachar</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="assets/css/bootstrap.min.css">
        <link rel="stylesheet" href="assets/css/style.css">
        <link rel="stylesheet" href="assets/css/responsive.css">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="assets/css/slick.css">
        <link rel="stylesheet" href="assets/css/slick-theme.css">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="assets/js/bootstrap.min.js"></script>
        <!--bottom slider-->
        <script src="assets/js/slick.js"></script>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        <script src="assets/js/custom.js"></script>
         <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
        
    
</head>

<body>
    <!---Header Start from here--->
    <header>
    
          
    <div class="header-bottom">
                    
                   <div class="container">
                    <div class="row">
                    
                            <div class="col-md-6"></div>
                   <div class="col-md-4"> <div class="skip_screenreader">
                                <ul class="is-flex mobile">
                                    <li class="space"><a title="Skip Navigation" alt ="Skip Navigation" href="#home">Skip Navigation</a></li>
                                    &ndash;<li class="space">|</li>  &ndash;
                                    <li class="space"><a  title="Screen Reader Access" alt ="Screen Reader Access" href="#">Screen Reader Access</a></li>
                                </ul>
                            </div>
                            </div> 
                    
                    <div class="col-md-2">                      
                    <div class="top_social space">
                           
  <a href="#" class="top-social"><i class="fab fa-twitter"></i></a> |
  <a href="#" class="top-social"><i class="fab fa-facebook-f"></i></a> |
  <a href="#" class="top-social"><i class="fab fa-instagram"></i></a> |
  <a href="#" class="top-social"><i class="fab fa-linkedin-in"></i></a>|
  <a href="#" class="top-social"><i class="fab fa-youtube"></i></a>
<!--  <a href="#" class="youtube"><i class="fab fa-youtube"></i></a> -->
 
                        
                        </div></div>
                    </div>
  </div>
                    
                </div>  
    <div class="header-top">
            <div class="container">
                <div class="row">   <div class="col-md-5">
                        <div class="left-sec is-flex">                          
                            <img src="assets/images/sainik_logo1.png" alt="Sainik Patrika Logo">
                            <div class="samacharlogo">
                             
                            <p class="sainik-logo"> Directorate of Public Relations,<br>
                             Ministry of Defence</p>
                                <p>Sainik Samachar</p>      
                            </div>                  
                        </div>
                    </div>
                    <div class="col-md-3"></div>
                    <div class="col-md-4">
                        <div class="right-sec is-flex">
                         <!--   <div class="skip_screenreader ">
                                <ul class="is-flex">
                                    <li><a title="Skip Navigation" alt ="Skip Navigation" href="#home">Skip Navigation</a></li>
                                    <li>|</li>
                                    <li><a  title="Screen Reader Access" alt ="Screen Reader Access" href="#">Screen Reader Access</a></li>
                                </ul>
                            </div>-->
                            <div class="accessbility">
                                <ul class="is-flex">
                                    <li>A-</li>
                                    <li>A+</li>
                                    <li class="active">A</li>
                                    <li>A</li>
                                </ul>
                            </div>
                            <div class="tree_link">
                                <a href="#"><img title ="Sitemap" src="assets/images/tree_icon.png" alt=""></a>
                            </div>
                            <div class="search_sec">
                                <div class="search_icon"><a href="#" title="Search"><img src="assets/images/search_icon.png" alt=""></a></div>
                                <!-- <div class="search_box">
                                    <input type="text" class="form-control">
                                </div> -->
                            </div>
                            <div class="lang">
                                <select title="Select Language">
                                    <option>English</option>
                                    <option>Hindi</option>
                                    <option>Assames</option>
                                    <option>Bengali</option>
                                    <option>Gorkhali</option>
                                    <option>Kannada</option>
                                    <option>Malayalam</option>
                                    <option>Marathi</option>
                                    <option>Telugu</option>
                                    <option>Oriya</option>
                                    <option>Punjabi</option>
                                    <option>Tamil</option>
                                    <option>Urdu</option>                                    
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <div class="header-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <nav class="navbar navbar-expand-lg">
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainMenu"
                                aria-controls="mainMenu" aria-expanded="false" aria-label="Toggle navigation">
                                <i class="fas fa-bars"></i>
                                <span class="navbar-toggler-icon"></span>
                            </button>

                            <div class="collapse navbar-collapse" id="mainMenu">
                                <ul class="navbar-nav mr-auto">
                                    <li class="nav-item active">
                                        <a class="nav-link pl-0" href="index.html">Home </a>
                                    </li><li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle mt-0" href="#" id="navbarDropdown" role="button"
                                             aria-haspopup="true" aria-expanded="true"> What's New
                                        </a>
                                          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                            <a class="dropdown-item" href="media-invite.html">Media Invite</a>
                                            <a class="dropdown-item" href="notifications.html">Notifications & Circulars</a> <a class="dropdown-item" href="photos1.html">Photos</a>
                                            <a class="dropdown-item" href="radio-programs1.html">Radio Programs</a>
                                            <a class="dropdown-item" href="videos1.html">Videos</a>
                                            <a class="dropdown-item" href="infographics1.html">Infographics</a>
                                        </div>
                                    </li>
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle mt-0" href="#" id="navbarDropdown" role="button"
                                             aria-haspopup="true" aria-expanded="true">
                                            Sainik Samachar
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                            <a class="dropdown-item" href="latest-samachar.html">Latest Magazine</a><a class="dropdown-item" href="previous-editions.html">Previous Editions</a>
                                            
                                        </div>
                                    </li>
                                   
                                    <li class="nav-item has-megamenu">
                                        <a class="nav-link dropdown-toggle dropdown" href="#" id="navbarDropdown" role="button"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Press Release
                                        </a>
   <div class="dropdown-content mega-bg">
    <!--  <div class="header">
        <h2>menu</h2>
      </div>  --> 
      <div class="row">
     
         <div class="col-md-2">
            <div class="">
              <h3 class="hq_title">DPR HQ</h3>
              <a class="pr-dropdown-item" href="#">PRO Airforce</a><br/>
              <a class="pr-dropdown-item" href="#">PRO Army</a><br/>
              <a class="pr-dropdown-item" href="#">PRO Defence</a><br/>
              <a class="pr-dropdown-item" href="#">PRO Navy</a><br/>
              </div>
            </div>
         <div class="col-md-2">
            <div class="">
<a class="pr-dropdown-item" href="#" title="">Bengaluru</a><br/>
<a class="pr-dropdown-item" href="#" title="">Chandigarh</a><br/>
<a class="pr-dropdown-item" href="#" title="">Chennai</a><br/>
<a class="pr-dropdown-item" href="#" title="">Gandhinagar</a><br/>
<a class="pr-dropdown-item" href="#" title="">Guwahati</a><br/>
              </div>
            </div>
         <div class="col-md-2">
            <div class="">
              <a class="pr-dropdown-item" href="#" title="">Imphal</a><br/>
              <a class="pr-dropdown-item" href="#" title="">Jaipur</a><br/>
              <a class="pr-dropdown-item" href="#" title="">Jalandhar</a><br/>
              <a class="pr-dropdown-item" href="#" title="">Jammu</a><br/>
              <a class="pr-dropdown-item" href="#" title="">Kochi</a><br/>
              </div>
            </div>
            
         <div class="col-md-2">
            <div class="">
              <a class="pr-dropdown-item" href="#" title="">Kohima</a><br/>
              <a class="pr-dropdown-item" href="#" title="">Kolkata</a><br/>
              <a class="pr-dropdown-item" href="#" title="">Lucknow</a><br/>
              <a class="pr-dropdown-item" href="#" title="">Mumbai</a><br/>
              <a class="pr-dropdown-item" href="#" title="">Nagpur</a><br/>
              </div>
            </div>
         <div class="col-md-2">
            <div class="">
              <a class="pr-dropdown-item" href="#" title="">Palam</a><br/>
              <a class="pr-dropdown-item" href="#" title="">Prayagraj</a><br/>
              <a class="pr-dropdown-item" href="#" title="">Pune</a><br/>
              <a class="pr-dropdown-item" href="#" title="">Secunderabad</a><br/>
              <a class="pr-dropdown-item" href="#" title="">Shillong</a><br/>
              </div>
          </div>
         <div class="col-md-2">
            <div class="">
               <a class="pr-dropdown-item" href="#" title="">Srinagar</a><br/>
              <a class="pr-dropdown-item" href="#" title="">Tezpur</a><br/>
              <a class="pr-dropdown-item" href="#" title="">Thiruvananthapuram</a><br/>
              <a class="pr-dropdown-item" href="#" title="">Udhampur</a><br/>
              <a class="pr-dropdown-item" href="#" title="">Visakhapatnam</a><br/>
              </div>
              <div class="menu_viewall"><button type="button" class="btn menu-btm"><a class="" href="press_release_new.html" title="">View All</a></button></div>
            </div>
  
      </div></div>
<!--
                                       <ul class="dropdown-menu">
                                        <li class="dropdown-submenu">
                                            <a class="dropdown-item dropdown-toggle" href="#">DPR HQ</a>
                                            <ul class="dropdown-menu">
                                              <li><a class="dropdown-item" href="#">PRO Airforce</a></li>
                                              <li><a class="dropdown-item" href="#">PRO Army</a></li>
                                              <li><a class="dropdown-item" href="#">PRO Defence</a></li>
                                              <li><a class="dropdown-item" href="#">PRO Navy</a></li>
                                              
                                            </ul>
                                          </li>

                                          <li class="dropdown-submenu">
                                            <a class="dropdown-item dropdown-toggle" href="#">PRU East</a>
                                            <ul class="dropdown-menu">
                                              <li><a class="dropdown-item" href="#">PRU Kolkata</a></li>
                                              <li><a class="dropdown-item" href="#">PRU Delhi</a></li>
                                              
                                            </ul>
                                          </li>
                                          <li class="dropdown-submenu">
                                            <a class="dropdown-item dropdown-toggle" href="#">PRU North</a>
                                            <ul class="dropdown-menu">
                                              <li><a class="dropdown-item" href="#">PRU Kolkata</a></li>
                                              <li><a class="dropdown-item" href="#">PRU Delhi</a></li>
                                              
                                            </ul>
                                          </li>
                                          <li class="dropdown-submenu">
                                            <a class="dropdown-item dropdown-toggle" href="#">PRU South-West</a>
                                            <ul class="dropdown-menu">
                                              <li><a class="dropdown-item" href="#">PRU Kolkata</a></li>
                                              <li><a class="dropdown-item" href="#">PRU Delhi</a></li>
                                              
                                            </ul>
                                          </li>
                                          <li class="dropdown-submenu">
                                            <a class="dropdown-item dropdown-toggle" href="#">PRU South</a>
                                            <ul class="dropdown-menu">
                                              <li><a class="dropdown-item" href="#">PRU Kolkata</a></li>
                                              <li><a class="dropdown-item" href="#">PRU Delhi</a></li>
                                              
                                            </ul>
                                          </li>
                                          <li class="dropdown-submenu">
                                            <a class="dropdown-item dropdown-toggle" href="#">PRU West</a>
                                            <ul class="dropdown-menu">
                                              <li><a class="dropdown-item" href="#">PRU Kolkata</a></li>
                                              <li><a class="dropdown-item" href="#">PRU Delhi</a></li>
                                              
                                            </ul>
                                          </li>

                                       </ul>
-->
                                    </li>
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Media
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                            <a class="dropdown-item" href="photos.html">Photos</a>
                                            <a class="dropdown-item" href="videos.html">Videos</a>
                                            <a class="dropdown-item" href="radio-programs.html">Radio Programs</a>
                                            <a class="dropdown-item" href="infographics.html">Infographics</a>

                                        </div>
                                    </li>
                                    <li class="nav-item active">
      <a class="nav-link" href="archived_sainik_samachar.html">Archives </a>
 </li>

                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            About Us
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                            <a class="dropdown-item" href="#">History</a>
                                            <a class="dropdown-item" href="#">Milestones</a>
                                            <a class="dropdown-item" href="#">Editorial Board</a>
                                            <a class="dropdown-item" href="#">Correspondents</a>
                                            <a class="dropdown-item" href="#">Who's Who</a>
                                            <a class="dropdown-item" href="#">Contact Us</a>
                                        </div>
                                    </li>
                                </ul>

                            </div>
                        </nav>
                    </div>
                </div>
            </div>

        </div>
    <div id="stickySocialIcons" class="icon-bar" style="">
  <a href="#" class="twitter" title="Twitter"><i class="fab fa-twitter"></i></a> 
  <a href="#" class="facebook" title="Facebook"><i class="fab fa-facebook-f"></i></a> 
  <a href="#" class="google" title="Instagram"><i class="fab fa-instagram"></i></a> 
  <a href="#" class="linkedin" title="Linkedin"><i class="fab fa-linkedin-in"></i></a>
  <a href="#" class="youtube" title="Youtube"><i class="fab fa-youtube"></i></a>
<!--  <a href="#" class="youtube"><i class="fab fa-youtube"></i></a> -->
</div>
    </header>
    <!---Header End from here--->
<!--middle section start here-->
<section class="top_space">
<div class="container">
<div class="row">
<div class="col-md-12">
 <div class="breadcrumb-bg">
 <nav aria-label="breadcrumb">
  <ol class="breadcrumb breadcrumb_text">
    <li class="breadcrumb-item"><a href="#"><i class="fa fa-home" aria-hidden="true"></i> Home</a></li>
    <li class="breadcrumb-item"><a href="#">What's New</a></li>
    <li class="breadcrumb-item"><a href="media-invite.html">Media Invite</a></li>
    <li class="breadcrumb-item active" aria-current="page">Invitation</li>
  </ol>
</nav>
</div>
</div>
</div>

 </div> 
 </section> 
  
  <!--start box gallery-->
  <div class="container">

 <div class="row">
 <div class="col-md-12">
 <div class="media-heading">
 <div class="row">
 <div class="col-md-9" ><h1 class="media-heading1">Media Invitation By PRO, Delhi</h1></div>
<div class="col-md-3"> 
 <strong>Posted on:</strong> 21st August 2021<br>
 <strong>Ph.</strong> 011-23097631, <strong>Mob.</strong> 011-23097631
 </div>
</div>
</div>
</div>

 </div>
 


 
 <div class="row mt-2">
 <div class="col-md-12"> 
 <div class="invite_bg1 bg-light text-dark">
 <div class="row"> 
 
  <div class="col-md-12">
  <div class="row"> 
  <div class="col-md-9">
  <strong>Dear Sir/Ma’am,</strong>	<br/>	
You are cordially invited to the following event:
  </div>
  <div class="col-md-3">
  <span class="invite-date"><strong> Invite Date:</strong> 21/08/2021</span>
  </div>
  </div>
  </div> 

 <div class="col-md-12">
 <div class="invie_row">
 <div class="row">
 
 <div class="col-md-12">
 <div class="invite_box1">
 <div class="row">
 <div class="col-md-2">
 <span class="inv-heading">Event:</span></div>
 <div class="col-md-10">
 Shri Upendra Prasad Singh, Secretary, Ministry of Textiles to inaugurate an international exhibition on Folk & Tribal Art Paintings “Reetiyon se Kalakritiyonka Safar”organised by Office of Development Commissioner, Handicrafts in collaboration with Odi Art Centre.</div>
 </div>
 <div class="row mt-3">
 <div class="col-md-2">
 <span class="inv-heading">Date & Time:</span></div>
 <div class="col-md-10">
 31st August 2021 & 14:00 P.M.</div>
 </div>
 
 <div class="row mt-3">
 <div class="col-md-2">
 <span class="inv-heading">Venue:</span></div>
 <div class="col-md-10">
 27,AKASH KUNJ, SECTOR-9 ROHINI,Delhi,110085</div>
 </div>
 
 
 
 </div></div>

 </div>
  
 </div>
 
 </div>
 </div>
 
 <div class="col-md-12">
 <div class="invie_row">
 <div class="row">
 
 <div class="col-md-12">
 <div class="invite_box2">
 <div class="row">
 <div class="col-md-4">
 <strong>Time For Media to Reach:</strong>12:00 P.M.</div>
 <div class="col-md-8">
 <strong>Media Collection Venue:</strong>D-87, Malviya Nagar, South Delhi, New Delhi, 110017.
 </div>

 
 </div>
 
 </div>
 
 </div>

 </div>
 
 </div>
 </div>
 
  <div class="row mt-3">
 <div class="col-md-12">
 <div class="note">
 <span class="note1" >NOTE:</span> YOU ARE REQUESTED TO REACH (Venue/Media collection spot)BY OR BEFORE (Time for media to reach in format).
 </div>
 </div>
 </div>
 
 </div>
 
 <div class="row mt-3">
 <div class="col-md-12">
 <div class="last-media">
 <div class="row">
 <div class="col-md-9"></div>
 <div class="col-md-3">
 <span class="last-media-hd">Yours faithfully</span> <br>
 Ajay Kumar Jha
 </div></div>





 </div>
 </div>
 </div>
 
 
 
 
 
 </div>
 
 
  
 
 
 
 
 
 
 </div>
 
 
 
 
 
 

 
 
  
  </div>
  
  

  
  
  
    
  
  
  

  
  
  
  
  
  
  
  
  
  
  
  
  
  
  

    <!----Footer Slider---->
    <section class="foterSlider">
    
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                     <!--Carousel Wrapper-->
       <div class="footerSlider">
       
  <img src="assets/images/footer_slider_img1.png" alt="press release pic">
  <img src="assets/images/footer_slider_img2.png" alt="press release pic">
  <img src="assets/images/footer_slider_img3.png" alt="press release pic">
  <img src="assets/images/footer_slider_img4.png" alt="press release pic">
  <img src="assets/images/footer_slider_img5.png" alt="press release pic">
  <img src="assets/images/footer_slider_img6.png" alt="press release pic">
  <img src="assets/images/footer_slider_img7.png" alt="press release pic">
 <img src="assets/images/footer_slider_img2.png" alt="press release pic">
 
    <!--/.Carousel Wrapper-->
                </div>
            </div>
        </div>
      
    </section>
    <!----Footer Slider---->

    <!--Footer link-->

    <section class="footerlink">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul>
                        <li>
                            <a href="#">Website Policies</a>
                        </li>
                        <li>
                            <a href="#">Terms & Conditions </a>
                        </li>
                        <li>
                            <a href="#">Help</a>
                        </li>
                        <li>
                            <a href="#">Privacy Policy</a>
                        </li>
                        <li>
                            <a href="#">Feedback</a>
                        </li>
                        <li>
                            <a href="#">Message of ministry</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
<!--Footer link-->

<!---footer-->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="left-footer">
                        <p><span>Copyright @2020</span>  Ministry of Defence L-1 Block, Church Road,   New Delhi-110001</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="left-footer">
                        <p class="text-right"><span>Visitor Counter:</span> 102439   <span>Updated On:</span>  24 May 2021</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
<!---footer-->

<!--Audio Play Section Modal for Video Play-->
<!-- Modal -->
<div class="modal fade" id="audioModal" tabindex="-1" role="dialog" aria-labelledby="audioModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body text-center">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <!-- 16:9 aspect ratio -->
                <audio controls>
                    <source id="audioSrc" src="assets/audio/audio.mp3" type="audio/mpeg">
                  </audio>
            </div>

        </div>
    </div>
</div>
    
<!--Audio Play Section Modal for Video Play-->
</body>

<script type="text/javascript">
$(function() {

    var start = moment();
    var end = moment();

    function cb(start, end) {
        $('#reportrange span').html(start.format('DD/MM/YYYY') + ' - ' + end.format('DD/MM/YYYY'));
    }

    $('#reportrange').daterangepicker({
        startDate: start,
        endDate: end,
        /*maxDate:moment(),*/
        ranges: {
           'Today': [moment(), moment()],
           'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
           'Last 2 Week': [moment().subtract(12, 'days'), moment()],
          /* 'Last 7 Days': [moment().subtract(6, 'days'), moment()],
           'Last 30 Days': [moment().subtract(29, 'days'), moment()],
           'This Month': [moment().startOf('month'), moment().endOf('month')],
           'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]*/
        }
    }, cb);

    cb(start, end);

});
</script>

</html>