
    <!---Header End from here--->
<!--middle section start here-->
<section class="top_space">
<div class="container">
<div class="row">
<div class="col-md-12">
 <div class="breadcrumb-bg">
 <nav aria-label="breadcrumb">
  <ol class="breadcrumb breadcrumb_text">
    <li class="breadcrumb-item"><a href="#"><i class="fa fa-home" aria-hidden="true"></i> Home</a></li>
    <li class="breadcrumb-item"><a href="#">Sainik Samachar</a></li>
    <li class="breadcrumb-item active" aria-current="page">Latest Magazine</li>
  </ol>
</nav>
</div>
</div>
</div>

 </div> 
 </section> 
  
  <!--start box gallery-->
<div class="container" id="container" style="height: 800px;">





    </div>
  




  