
    <!---Header End from here--->
<!--middle section start here-->
<section class="top_space">
<div class="container">
<div class="row">
<div class="col-md-12">
 <div class="breadcrumb-bg">
 <nav aria-label="breadcrumb">
  <ol class="breadcrumb breadcrumb_text">
    <li class="breadcrumb-item"><a href="#"><i class="fa fa-home" aria-hidden="true"></i> Home</a></li>
    <li class="breadcrumb-item"><a href="#">Media</a></li>
    <li class="breadcrumb-item active" aria-current="page">Photo Gallery</li>
  </ol>
</nav>
</div>
</div>
</div>

<div class="row">
<div class="col-md-12">
<div class="search_main">
<div class="row">

<div class="col-md-2">
<select id="states" class="text-right select_default">
	<option selected>All Category</option>
    <option>Aero India</option>
    <option>Defence Exercises</option>
    <option>Defence Expo</option>
    <option>DRDO Events</option>
    <option>Independence Day</option>
    <option>Indian Airforce Event</option>
    <option>Indian Army Event</option>
    <option>Indian Coast Guard Event</option>
    <option>Indian Navy Event</option>
    <option>Other MoD Events</option>
    <option>President's events</option>
    <option>Prime Minister's events</option>
    <option>Raksha Mantri's events</option>
    <option>Republic Day</option>
    <option>RRM Events</option>
    <option>Swarnim Vijay Varsh</option>
    <option>Vice President's events</option>
    <option>Weekly program</option>
		   
</select>
</div>
<div class="col-md-3">
<!--<input type="text"   name="daterange" value="08/19/2021 - 08/19/2021" />-->

<div id="reportrange" class="input_date_bg" >Date
    <i class="fa fa-calendar"></i>&nbsp;
    <span></span> <i class="fa fa-caret-down"></i>
</div>

</div>
<div class="col-md-3"><input type="search" id="" name="" class="search_textbox" placeholder="caption, keywords to search"></div>
<div class="col-md-2">
<button type="button" class="btn-search">Search</button>
</div>

</div>
</div>
</div>





 </div> 
 </section> 
  
  <!--start box gallery-->
  <div class="container">
  <div class="row mt-3">
   <div class="col-md-4">
   <div class="card mb-2">
            <div class="column">
    <img src="assets/images/gallery/PoP at Ezhimala/Pix1_sm.jpg" style="width:100%" onclick="openModal();currentSlide(1)" class="hover-shadow cursor">
  </div>

             <div class="row ml">
             <div class="col-md-12"><p class="card-text">Audience witnessing live demonstration at Defexpo 2016 in Goa on March 31, 2016</p></div>
             
             </div>
             <div class="share">
             <div class="row">
             <div class="col-md-4"> <i class="fas fa-share-alt"></i> <a href="#" class="readmore">Share</a></div>
             <div class="col-md-4"></div>
             <div class="col-md-4"> <i class="fas fa-download"></i> <a href="#" class="readmore">Download</a></div>
             </div>
             </div>
             
             </div>
        
    </div>
   <div class="col-md-4">
   <div class="card mb-2">
           <div class="column">
    <img src="assets/images/gallery/PoP at Ezhimala/Pix2_sm.jpg" style="width:100%" onclick="openModal();currentSlide(2)" class="hover-shadow cursor">
  </div>

             <div class="row ml">
             <div class="col-md-12"><p class="card-text">Audience witnessing live demonstration at Defexpo 2016 in Goa on March 31, 2016</p></div>
             
             </div>
             <div class="share">
             <div class="row">
             <div class="col-md-4"> <i class="fas fa-share-alt"></i> <a href="#" class="readmore">Share</a></div>
             <div class="col-md-4"></div>
             <div class="col-md-4"> <i class="fas fa-download"></i> <a href="#" class="readmore">Download</a></div>
             </div>
             </div>
             
             </div>
        
    </div>
   <div class="col-md-4">
   <div class="card mb-2">
            <div class="column">
    <img src="assets/images/gallery/PoP at Ezhimala/Pix3_sm.jpg" style="width:100%" onclick="openModal();currentSlide(3)" class="hover-shadow cursor">
  </div>

             <div class="row ml">
             <div class="col-md-12"><p class="card-text">Audience witnessing live demonstration at Defexpo 2016 in Goa on March 31, 2016</p></div>
             
             </div>
             <div class="share">
             <div class="row">
             <div class="col-md-4"> <i class="fas fa-share-alt"></i> <a href="#" class="readmore">Share</a></div>
             <div class="col-md-4"></div>
             <div class="col-md-4"> <i class="fas fa-download"></i> <a href="#" class="readmore">Download</a></div>
             </div>
             </div>
             
             </div>
        
    </div>

  </div>
  <div class="row mt-3">
   <div class="col-md-4">
   <div class="card mb-2">
    <div class="column">
    <img src="assets/images/gallery/PoP at Ezhimala/Pix4.jpg" style="width:100%" onclick="openModal();currentSlide(4)" class="hover-shadow cursor">
  </div>

             <div class="row ml">
             <div class="col-md-12"><p class="card-text">Audience witnessing live demonstration at Defexpo 2016 in Goa on March 31, 2016</p></div>
             
             </div>
             <div class="share">
             <div class="row">
             <div class="col-md-4"> <i class="fas fa-share-alt"></i> <a href="#" class="readmore">Share</a></div>
             <div class="col-md-4"></div>
             <div class="col-md-4"> <i class="fas fa-download"></i> <a href="#" class="readmore">Download</a></div>
             </div>
             </div>
             
             </div>
        
    </div>
   <div class="col-md-4">
   <div class="card mb-2">
           <div class="column">
    <img src="assets/images/gallery/PoP at Ezhimala/Pix5.jpg" style="width:100%" onclick="openModal();currentSlide(5)" class="hover-shadow cursor">
  </div>

             <div class="row ml">
             <div class="col-md-12"><p class="card-text">Audience witnessing live demonstration at Defexpo 2016 in Goa on March 31, 2016</p></div>
             
             </div>
             <div class="share">
             <div class="row">
             <div class="col-md-4"> <i class="fas fa-share-alt"></i> <a href="#" class="readmore">Share</a></div>
             <div class="col-md-4"></div>
             <div class="col-md-4"> <i class="fas fa-download"></i> <a href="#" class="readmore">Download</a></div>
             </div>
             </div>
             
             </div>
        
    </div>
   <div class="col-md-4">
   <div class="card mb-2">
            
            <div class="column">
    <img src="assets/images/gallery/PoP at Ezhimala/Pix6.jpg" style="width:100%" onclick="openModal();currentSlide(6)" class="hover-shadow cursor">
  </div>

             <div class="row ml">
             <div class="col-md-12"><p class="card-text">Audience witnessing live demonstration at Defexpo 2016 in Goa on March 31, 2016</p></div>
             
             </div>
             <div class="share">
             <div class="row">
             <div class="col-md-4"> <i class="fas fa-share-alt"></i> <a href="#" class="readmore">Share</a></div>
             <div class="col-md-4"></div>
             <div class="col-md-4"> <i class="fas fa-download"></i> <a href="#" class="readmore">Download</a></div>
             </div>
             </div>
             
             </div>
        
    </div>

  </div>
  <div class="row mt-3">
   <div class="col-md-4">
   <div class="card mb-2">
    <div class="column">
    <img src="assets/images/gallery/PoP at Ezhimala/Pix7.jpg" style="width:100%" onclick="openModal();currentSlide(7)" class="hover-shadow cursor">
  </div>

             <div class="row ml">
             <div class="col-md-12"><p class="card-text">Audience witnessing live demonstration at Defexpo 2016 in Goa on March 31, 2016</p></div>
             
             </div>
             <div class="share">
             <div class="row">
             <div class="col-md-4"> <i class="fas fa-share-alt"></i> <a href="#" class="readmore">Share</a></div>
             <div class="col-md-4"></div>
             <div class="col-md-4"> <i class="fas fa-download"></i> <a href="#" class="readmore">Download</a></div>
             </div>
             </div>
             
             </div>
        
    </div>
   <div class="col-md-4">
   <div class="card mb-2">
           <div class="column">
    <img src="assets/images/gallery/PoP at Ezhimala/Pix1.jpg" style="width:100%" onclick="openModal();currentSlide(1)" class="hover-shadow cursor">
  </div>

             <div class="row ml">
             <div class="col-md-12"><p class="card-text">Audience witnessing live demonstration at Defexpo 2016 in Goa on March 31, 2016</p></div>
             
             </div>
             <div class="share">
             <div class="row">
             <div class="col-md-4"> <i class="fas fa-share-alt"></i> <a href="#" class="readmore">Share</a></div>
             <div class="col-md-4"></div>
             <div class="col-md-4"> <i class="fas fa-download"></i> <a href="#" class="readmore">Download</a></div>
             </div>
             </div>
             
             </div>
        
    </div>
   <div class="col-md-4">
   <div class="card mb-2">
            
            <div class="column">
    <img src="assets/images/gallery/PoP at Ezhimala/Pix2.jpg" style="width:100%" onclick="openModal();currentSlide(2)" class="hover-shadow cursor">
  </div>

             <div class="row ml">
             <div class="col-md-12"><p class="card-text">Audience witnessing live demonstration at Defexpo 2016 in Goa on March 31, 2016</p></div>
             
             </div>
             <div class="share">
             <div class="row">
             <div class="col-md-4"> <i class="fas fa-share-alt"></i> <a href="#" class="readmore">Share</a></div>
             <div class="col-md-4"></div>
             <div class="col-md-4"> <i class="fas fa-download"></i> <a href="#" class="readmore">Download</a></div>
             </div>
             </div>
             
             </div>
        
    </div>

  </div>
  
  <div id="myModalgallery" class="modal modal_pic">
  <span class="close cursor" onclick="closeModal()">&times;</span>
  <div class="modal-content">

    <div class="mySlides">
      <div class="numbertext">1 / 9</div>
      <img src="assets/images/gallery/PoP at Ezhimala/Pix1.jpg" style="width:100%" alt="">
      <p class="photo-title">Swarnim Vijay Mashal welcomed by Sarla Battalion at Generals War Memorial, Jhullas, taken to the house of Veer Nari Gurucharan Kaur w/o Sub (Late) Seva Singh (11 JAK LI) who made supreme sacrifice on December 4, 1971 in defence of Poonch.</p>
    </div>

    <div class="mySlides">
      <div class="numbertext">2 / 9</div>
      <img src="assets/images/gallery/PoP at Ezhimala/Pix2.jpg" style="width:100%" alt="">
       <p class="photo-title">CAS Presides Over Valedictory Function at College of Defence Management</p>
    </div>

    <div class="mySlides">
      <div class="numbertext">3 / 9</div>
      <img src="assets/images/gallery/PoP at Ezhimala/Pix3.jpg" style="width:100%" alt="">
       <p class="photo-title">Audience witnessing live demonstration at Defexpo 2016 in Goa on March 31, 2016</p>
    </div>
    
    <div class="mySlides">
      <div class="numbertext">4 / 9</div>
      <img src="assets/images/gallery/PoP at Ezhimala/Pix4.jpg" style="width:100%" alt="">
       <p class="photo-title">Swarnim Vijay Mashal welcomed by Sarla Battalion at Generals War Memorial, Jhullas, taken to the house of Veer Nari Gurucharan Kaur w/o Sub (Late) Seva Singh (11 JAK LI) who made supreme sacrifice on December 4, 1971 in defence of Poonch.</p>
    </div>
     <div class="mySlides">
      <div class="numbertext">5 / 9</div>
      <img src="assets/images/gallery/PoP at Ezhimala/Pix5.jpg" style="width:100%" alt="">
       <p class="photo-title">Audience witnessing live demonstration at Defexpo 2016 in Goa on March 31, 2016</p>
    </div>
     <div class="mySlides">
      <div class="numbertext">6 / 9</div>
      <img src="assets/images/gallery/PoP at Ezhimala/Pix6.jpg" style="width:100%" alt="">
       <p class="photo-title">Audience witnessing live demonstration at Defexpo 2016 in Goa on March 31, 2016</p>
    </div>
    <div class="mySlides">
      <div class="numbertext">7 / 9</div>
      <img src="assets/images/gallery/PoP at Ezhimala/Pix7.jpg" style="width:100%" alt="">
       <p class="photo-title">Swarnim Vijay Mashal welcomed by Sarla Battalion at Generals War Memorial, Jhullas, taken to the house of Veer Nari Gurucharan Kaur w/o Sub (Late) Seva Singh (11 JAK LI) who made supreme sacrifice on December 4, 1971 in defence of Poonch.</p>
    </div>
    <div class="mySlides">
      <div class="numbertext">8 / 9</div>
      <img src="assets/images/gallery/PoP at Ezhimala/Pix1.jpg" style="width:100%" alt="">
       <p class="photo-title">Audience witnessing live demonstration at Defexpo 2016 in Goa on March 31, 2016</p>
    </div>
    <div class="mySlides">
      <div class="numbertext">9 / 9</div>
      <img src="assets/images/gallery/PoP at Ezhimala/Pix2.jpg" style="width:100%" alt="">
       <p class="photo-title">Audience witnessing live demonstration at Defexpo 2016 in Goa on March 31, 2016</p>
    </div>
    <a class="prev1" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next1" onclick="plusSlides(1)">&#10095;</a>

    <div class="caption-container">
      <p id="caption"></p>
    </div>


    
  </div>
</div>

  
  </div>  
 <!--pagination start here--> 
<div class="container">

<div class="row mt-5">

<div class="col-md-12">
<div class="pagination_top">
<div class="row">
<div class="col-md-12">
<div class="row">
<div class="col-md-9">
Page Size: 
<select id="states" class="page_dropdown">
	 <option selected>10</option>
		    <option>20</option>
		    <option>30</option>
		    <option>40</option>
		    <option>50</option>
</select>
</div>
<div class="col-md-3 float-right">
 <ul class="pagination modal-3">
  <li><a href="#" class="prev">&laquo</a></li>
  <li><a href="#" class="active">1</a></li>
  <li> <a href="#">2</a></li>
  <li> <a href="#">3</a></li>
  <li> <a href="#">4</a></li>
  <li> <a href="#">5</a></li>
  <li><a href="#" class="next">&raquo;</a></li>
</ul>


</div>
</div>
</div>
</div>
</div>

</div>
</div>
<!--pagination end here-->
</div>

    <!----Footer Slider---->
    <section class="foterSlider">
    
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                     <!--Carousel Wrapper-->
       <div class="footerSlider">
       
  <img src="assets/images/footer_slider_img1.png" alt="press release pic">
  <img src="assets/images/footer_slider_img2.png" alt="press release pic">
  <img src="assets/images/footer_slider_img3.png" alt="press release pic">
  <img src="assets/images/footer_slider_img4.png" alt="press release pic">
  <img src="assets/images/footer_slider_img5.png" alt="press release pic">
  <img src="assets/images/footer_slider_img6.png" alt="press release pic">
  <img src="assets/images/footer_slider_img7.png" alt="press release pic">
 <img src="assets/images/footer_slider_img2.png" alt="press release pic">
 
    <!--/.Carousel Wrapper-->
                </div>
            </div>
        </div>
      
    </section>
    <!----Footer Slider---->

 