<!DOCTYPE html>
<html lang="en">

<head>
    <title>Sainik Samachar</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
	 <link rel="stylesheet" href="assets/css/responsive.css">
<!--   <link rel="stylesheet" href="https-->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
      <link rel="stylesheet" href="assets/css/slick.css">
      <link rel="stylesheet" href="assets/css/slick-theme.css">
    
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
       <!--bottom slider-->
  <script src="assets/js/slick.js"></script>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    <script src="assets/js/custom.js"></script>
    
 

</head>

<body>
    <!---Header Start from here--->
    <header>
    
          
                <div class="header-bottom">
                    
                   <div class="container">
                    <div class="row">
                    
                            <div class="col-md-6"></div>
                   <div class="col-md-4"> <div class="skip_screenreader">
                                <ul class="is-flex mobile">
                                    <li class="space"><a title="Skip Navigation" alt ="Skip Navigation" href="#home">Skip Navigation</a></li>
                                    &ndash;<li class="space">|</li>  &ndash;
                                    <li class="space"><a  title="Screen Reader Access" alt ="Screen Reader Access" href="#">Screen Reader Access</a></li>
                                </ul>
                            </div>
                            </div> 
                    
                    <div class="col-md-2">                      
                    <div class="top_social space">
                           
  <a href="#" class="top-social"><i class="fab fa-twitter"></i></a> |
  <a href="#" class="top-social"><i class="fab fa-facebook-f"></i></a> |
  <a href="#" class="top-social"><i class="fab fa-instagram"></i></a> |
  <a href="#" class="top-social"><i class="fab fa-linkedin-in"></i></a>|
  <a href="#" class="top-social"><i class="fab fa-youtube"></i></a>
<!--  <a href="#" class="youtube"><i class="fab fa-youtube"></i></a> -->
 
                        
                        </div></div>
                    </div>
  </div>
                    
                </div>
            

       
        <div class="header-top">
            <div class="container">
                <div class="row">
                    <div class="col-md-5">
                        <div class="left-sec is-flex">                          
                            <img src="assets/images/sainik_logo1.png" alt="Sainik Patrika Logo">
                            <div class="samacharlogo">
                             
                            <p class="sainik-logo"> Directorate of Public Relations,<br>
                             Ministry of Defence</p>
                                <p>Sainik Samachar</p>      
                            </div>                  
                        </div>
                    </div>
                    <div class="col-md-3"></div>
                    <div class="col-md-4">
                        <div class="right-sec is-flex">
                         <!--   <div class="skip_screenreader ">
                                <ul class="is-flex">
                                    <li><a title="Skip Navigation" alt ="Skip Navigation" href="#home">Skip Navigation</a></li>
                                    <li>|</li>
                                    <li><a  title="Screen Reader Access" alt ="Screen Reader Access" href="#">Screen Reader Access</a></li>
                                </ul>
                            </div>-->
                            <div class="accessbility">
                                <ul class="is-flex">
                                    <li>A-</li>
                                    <li>A+</li>
                                    <li class="active">A</li>
                                    <li>A</li>
                                </ul>
                            </div>
                            <div class="tree_link">
                                <a href="#"><img title ="Sitemap" src="assets/images/tree_icon.png" alt=""></a>
                            </div>
                            <div class="search_sec">
                                <div class="search_icon"><a href="#" title="Search"><img src="assets/images/search_icon.png" alt=""></a></div>
                                <!-- <div class="search_box">
                                    <input type="text" class="form-control">
                                </div> -->
                            </div>
                            <div class="lang">
                                <select title="Select Language">
                                    <option>English</option>
                                    <option>Hindi</option>
                                    <option>Assames</option>
                                    <option>Bengali</option>
                                    <option>Gorkhali</option>
                                    <option>Kannada</option>
                                    <option>Malayalam</option>
                                    <option>Marathi</option>
                                    <option>Telugu</option>
                                    <option>Oriya</option>
                                    <option>Punjabi</option>
                                    <option>Tamil</option>
                                    <option>Urdu</option>                                    
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <nav class="navbar navbar-expand-lg">
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainMenu"
                                aria-controls="mainMenu" aria-expanded="false" aria-label="Toggle navigation">
                                <i class="fas fa-bars"></i>
                                <span class="navbar-toggler-icon"></span>
                            </button>

                            <div class="collapse navbar-collapse" id="mainMenu">
                                <ul class="navbar-nav mr-auto">
                                    <li class="nav-item active">
                                        <a class="nav-link pl-0" href="index.html">Home </a>
                                    </li>

                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle mt-0" href="#" id="navbarDropdown" role="button"
                                             aria-haspopup="true" aria-expanded="true"> What's New
                                        </a>
                                          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                            <a class="dropdown-item" href="media-invite.html">Media Invite</a>
                                            <a class="dropdown-item" href="notifications.html">Notifications & Circulars</a> <a class="dropdown-item" href="photos1.html">Photos</a>
                                            <a class="dropdown-item" href="radio-programs1.html">Radio Programs</a>
                                            <a class="dropdown-item" href="videos1.html">Videos</a>
                                            <a class="dropdown-item" href="infographics1.html">Infographics</a>
                                        </div>
                                    </li>
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle mt-0" href="#" id="navbarDropdown" role="button"
                                             aria-haspopup="true" aria-expanded="true">
                                            Sainik Samachar
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                            <a class="dropdown-item" href="latest-samachar.html">Latest Magazine</a><a class="dropdown-item" href="previous-editions.html">Previous Editions</a>
                                            
                                        </div>
                                    </li>
                                   
                                    <li class="nav-item has-megamenu">
                                        <a class="nav-link dropdown-toggle dropdown" href="#" id="navbarDropdown" role="button"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Press Release
                                        </a>
 <div class="dropdown-content mega-bg">
    <!--  <div class="header">
        <h2>menu</h2>
      </div>  --> 
      <div class="row">
     
         <div class="col-md-2">
            <div class="">
              <h3 class="hq_title">DPR HQ</h3>
              <a class="pr-dropdown-item" href="#">PRO Airforce</a><br/>
              <a class="pr-dropdown-item" href="#">PRO Army</a><br/>
              <a class="pr-dropdown-item" href="#">PRO Defence</a><br/>
              <a class="pr-dropdown-item" href="#">PRO Navy</a><br/>
              </div>
            </div>
         <div class="col-md-2">
            <div class="">
<a class="pr-dropdown-item" href="#" title="">Bengaluru</a><br/>
<a class="pr-dropdown-item" href="#" title="">Chandigarh</a><br/>
<a class="pr-dropdown-item" href="#" title="">Chennai</a><br/>
<a class="pr-dropdown-item" href="#" title="">Gandhinagar</a><br/>
<a class="pr-dropdown-item" href="#" title="">Guwahati</a><br/>
              </div>
            </div>
         <div class="col-md-2">
            <div class="">
              <a class="pr-dropdown-item" href="#" title="">Imphal</a><br/>
              <a class="pr-dropdown-item" href="#" title="">Jaipur</a><br/>
              <a class="pr-dropdown-item" href="#" title="">Jalandhar</a><br/>
              <a class="pr-dropdown-item" href="#" title="">Jammu</a><br/>
              <a class="pr-dropdown-item" href="#" title="">Kochi</a><br/>
              </div>
            </div>
            
         <div class="col-md-2">
            <div class="">
              <a class="pr-dropdown-item" href="#" title="">Kohima</a><br/>
              <a class="pr-dropdown-item" href="#" title="">Kolkata</a><br/>
              <a class="pr-dropdown-item" href="#" title="">Lucknow</a><br/>
              <a class="pr-dropdown-item" href="#" title="">Mumbai</a><br/>
              <a class="pr-dropdown-item" href="#" title="">Nagpur</a><br/>
              </div>
            </div>
         <div class="col-md-2">
            <div class="">
              <a class="pr-dropdown-item" href="#" title="">Palam</a><br/>
              <a class="pr-dropdown-item" href="#" title="">Prayagraj</a><br/>
              <a class="pr-dropdown-item" href="#" title="">Pune</a><br/>
              <a class="pr-dropdown-item" href="#" title="">Secunderabad</a><br/>
              <a class="pr-dropdown-item" href="#" title="">Shillong</a><br/>
              </div>
          </div>
         <div class="col-md-2">
            <div class="">
               <a class="pr-dropdown-item" href="#" title="">Srinagar</a><br/>
              <a class="pr-dropdown-item" href="#" title="">Tezpur</a><br/>
              <a class="pr-dropdown-item" href="#" title="">Thiruvananthapuram</a><br/>
              <a class="pr-dropdown-item" href="#" title="">Udhampur</a><br/>
              <a class="pr-dropdown-item" href="#" title="">Visakhapatnam</a><br/>
              </div>
              <div class="menu_viewall"><button type="button" class="btn menu-btm"><a class="" href="press_release_new.html" title="">View All</a></button></div>
            </div>
  
      </div></div>
<!--
                                       <ul class="dropdown-menu">
                                        <li class="dropdown-submenu">
                                            <a class="dropdown-item dropdown-toggle" href="#">DPR HQ</a>
                                            <ul class="dropdown-menu">
                                              <li><a class="dropdown-item" href="#">PRO Airforce</a></li>
                                              <li><a class="dropdown-item" href="#">PRO Army</a></li>
                                              <li><a class="dropdown-item" href="#">PRO Defence</a></li>
                                              <li><a class="dropdown-item" href="#">PRO Navy</a></li>
                                              
                                            </ul>
                                          </li>

                                          <li class="dropdown-submenu">
                                            <a class="dropdown-item dropdown-toggle" href="#">PRU East</a>
                                            <ul class="dropdown-menu">
                                              <li><a class="dropdown-item" href="#">PRU Kolkata</a></li>
                                              <li><a class="dropdown-item" href="#">PRU Delhi</a></li>
                                              
                                            </ul>
                                          </li>
                                          <li class="dropdown-submenu">
                                            <a class="dropdown-item dropdown-toggle" href="#">PRU North</a>
                                            <ul class="dropdown-menu">
                                              <li><a class="dropdown-item" href="#">PRU Kolkata</a></li>
                                              <li><a class="dropdown-item" href="#">PRU Delhi</a></li>
                                              
                                            </ul>
                                          </li>
                                          <li class="dropdown-submenu">
                                            <a class="dropdown-item dropdown-toggle" href="#">PRU South-West</a>
                                            <ul class="dropdown-menu">
                                              <li><a class="dropdown-item" href="#">PRU Kolkata</a></li>
                                              <li><a class="dropdown-item" href="#">PRU Delhi</a></li>
                                              
                                            </ul>
                                          </li>
                                          <li class="dropdown-submenu">
                                            <a class="dropdown-item dropdown-toggle" href="#">PRU South</a>
                                            <ul class="dropdown-menu">
                                              <li><a class="dropdown-item" href="#">PRU Kolkata</a></li>
                                              <li><a class="dropdown-item" href="#">PRU Delhi</a></li>
                                              
                                            </ul>
                                          </li>
                                          <li class="dropdown-submenu">
                                            <a class="dropdown-item dropdown-toggle" href="#">PRU West</a>
                                            <ul class="dropdown-menu">
                                              <li><a class="dropdown-item" href="#">PRU Kolkata</a></li>
                                              <li><a class="dropdown-item" href="#">PRU Delhi</a></li>
                                              
                                            </ul>
                                          </li>

                                       </ul>
-->
                                    </li>
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Media
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                            <a class="dropdown-item" href="photos.html">Photos</a>
                                            <a class="dropdown-item" href="videos.html">Videos</a>
                                            <a class="dropdown-item" href="radio-programs.html">Radio Programs</a>
                                            <a class="dropdown-item" href="infographics.html">Infographics</a>

                                        </div>
                                    </li>
                                    <li class="nav-item active">
                 <a class="nav-link" href="archived.html">Archives </a>
                        </li>

                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            About Us
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                            <a class="dropdown-item" href="#">History</a>
                                            <a class="dropdown-item" href="#">Milestones</a>
                                            <a class="dropdown-item" href="#">Editorial Board</a>
                                            <a class="dropdown-item" href="#">Correspondents</a>
                                            <a class="dropdown-item" href="#">Who's Who</a>
                                            <a class="dropdown-item" href="#">Contact Us</a>
                                        </div>
                                    </li>
                                </ul>

                            </div>
                        </nav>
                    </div>
                </div>
            </div>

        </div>
     <div id="stickySocialIcons" class="icon-bar" style="">
  <a href="#" class="twitter" title="Twitter"><i class="fab fa-twitter"></i></a> 
  <a href="#" class="facebook" title="Facebook"><i class="fab fa-facebook-f"></i></a> 
  <a href="#" class="google" title="Instagram"><i class="fab fa-instagram"></i></a> 
  <a href="#" class="linkedin" title="Linkedin"><i class="fab fa-linkedin-in"></i></a>
  <a href="#" class="youtube" title="Youtube"><i class="fab fa-youtube"></i></a>
<!--  <a href="#" class="youtube"><i class="fab fa-youtube"></i></a> -->
</div>

        
        

        
    </header>
    <!---Header End from here--->

    <!--Latest Press Release--->
    <section class="latestPressRelease">
        <div class="container">
           
            <div class="row">
                <div class="col-md-3 pr-0">
                    <h1 class="section-heading">Latest Sainik Samachar</h1>
                    <div class="card mt30">
                        <div class="card-body p-0">
                            <img class="card-img-top" src="assets/images/press-release-pic1.jpg"
                                alt="press release pic">
                             <div class="readbox">
                                <a href="#">Read More</a>
                             </div>   
                            
                        </div>
                    </div>
                </div>
                <div class="col-md-9">
                     <h1 class="section-heading text-center">Latest Press Releases</h1>
                  <a href="press-release.html" class="viewAll">View All</a>
                    <!--Carousel Wrapper-->
                    <div id="press-slider" class="carousel slide carousel-multi-item" data-ride="carousel" data-interval="5000">

                        <!--Controls-->
                        <div class="controls-top">
                            <a class="btn-floating" href="#press-slider" data-slide="prev">
                                <i class="fas fa-angle-left"></i></a>
                            <a class="btn-floating" href="#press-slider" data-slide="next"><i class="fas fa-angle-right"></i></a>
                        </div>
                        <!--/.Controls-->

                        <!--Slides-->
                        <div class="carousel-inner" role="listbox">

                            <!--First slide-->
                            <div class="carousel-item active">

                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="card mb-2">
                                            <img class="card-img-top" src="assets/images/press-release_slide1.jpg"
                                                alt="press release pic">
                                            <div class="card-body">
                                                <h4 class="card-title">PRU Delhi</h4>
                                                <p class="card-text">Integrated Financial Advisors Workshop Integrated
                                                    Finance is the backbone of any Ministry: RM</p>
                                                <a href="press_release_details.html" class="readmore">Read More</a>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-4 clearfix d-none d-md-block">
                                        <div class="card mb-2">
                                            <img class="card-img-top" src="assets/images/press-release-slide2.jpg"
                                                alt="press release pic">
                                            <div class="card-body">
                                                <h4 class="card-title">PRU Mumbai</h4>
                                                <p class="card-text">Integrated Financial Advisors Workshop Integrated
                                                    Finance is the backbone of any Ministry: RM</p>
                                                <a href="press_release_details.html" class="readmore">Read More</a>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-4 clearfix d-none d-md-block">
                                        <div class="card mb-2">
                                            <img class="card-img-top" src="assets/images/press-release-slide3.jpg"
                                                alt="press release pic">
                                            <div class="card-body">
                                                <h4 class="card-title">PRU Kolkata</h4>
                                                <p class="card-text">Integrated Financial Advisors Workshop Integrated
                                                    Finance is the backbone of any Ministry: RM</p>
                                                <a href="press_release_details.html" class="readmore">Read More</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <!--/.First slide-->
                              <!--Second slide-->
                              <div class="carousel-item">

                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="card mb-2">
                                            <img class="card-img-top" src="assets/images/press-release_slide1.jpg"
                                                alt="press release pic">
                                            <div class="card-body">
                                                <h4 class="card-title">PRU Delhi</h4>
                                                <p class="card-text">Integrated Financial Advisors Workshop Integrated
                                                    Finance is the backbone of any Ministry: RM</p>
                                                <a href="#" class="readmore">Read More</a>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-4 clearfix d-none d-md-block">
                                        <div class="card mb-2">
                                            <img class="card-img-top" src="assets/images/press-release-slide2.jpg"
                                                alt="press release pic">
                                            <div class="card-body">
                                                <h4 class="card-title">PRU Mumbai</h4>
                                                <p class="card-text">Integrated Financial Advisors Workshop Integrated
                                                    Finance is the backbone of any Ministry: RM</p>
                                                <a href="#" class="readmore">Read More</a>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-4 clearfix d-none d-md-block">
                                        <div class="card mb-2">
                                            <img class="card-img-top" src="assets/images/press-release-slide3.jpg"
                                                alt="press release pic">
                                            <div class="card-body">
                                                <h4 class="card-title">PRU Kolkata</h4>
                                                <p class="card-text">Integrated Financial Advisors Workshop Integrated
                                                    Finance is the backbone of any Ministry: RM</p>
                                                <a href="#" class="readmore">Read More</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <!--/.Second slide-->

                        </div>
                        <!--/.Slides-->

                    </div>
                    <!--/.Carousel Wrapper-->
                </div>
            </div>
        </div>
    </section>
    <!--Latest Press Release--->

    <!--Socail Media Section start-->
        <div class="socail-media-sec">
            <div class="container">
                <div class="row">
                
                    <div class="col-md-4">
                        <div class="common-box">
                            <div class="d-flex justify-content-between">
                            <h3 class="ss_twitter_head">Twitter</h3>
                            <h3 class="ss_linkedin_head">Twitter1</h3>
                          
                               <!--Controls-->
                        <div class="controls-top">
                            <a class="btn-floating social_left" href="#socialfeedCarousel1" data-slide="prev">
                                <i class="fas fa-angle-left"></i></a>
                            <a class="btn-floating social_right" href="#socialfeedCarousel1" data-slide="next">
                            	<i class="fas fa-angle-right"></i></a>
                        </div>
                        </div>
                        <!--/.Controls-->
                            <div id="socialfeedCarousel1" class="carousel slide" data-ride="carousel">
                                <div class="carousel-inner">
                                  <div class="carousel-item ss_twitter active">
                                    <a class="twitter-timeline" data-width="320" data-height="260" href="https://twitter.com/PIB_India?ref_src=twsrc%5Etfw">Tweets by PIB_India</a> 
                                  </div>
                                  <div class="carousel-item ss_linkedin">
                                  <a class="twitter-timeline" data-width="320" data-height="260" href="https://twitter.com/PIB_India?ref_src=twsrc%5Etfw">Linkedin Feeds by PIB_India</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                                  </div> 
                                   <div class="carousel-item ss_twitter">
                                    <a class="twitter-timeline" data-width="320" data-height="260" href="https://twitter.com/PIB_India?ref_src=twsrc%5Etfw">Tweets by PIB_India</a> 
                                  </div>
                                </div>                               
                              </div>
                        </div>
                    </div>
                    
                    <div class="col-md-4">
                        <div class="common-box">
                            <div class="d-flex justify-content-between gap">
                            
                               <!--Controls-->
                        <div class="controls-top arrow">
                            <a class="btn-floating social_left" href="#socialfeedCarousel" data-slide="prev" >
                                <i class="fas fa-angle-left"></i></a>
                            <a class="btn-floating social_right" href="#socialfeedCarousel" data-slide="next">
                            	<i class="fas fa-angle-right"></i></a>
                              
                        </div>
                        </div>
                        <!--/.Controls-->
                            <div id="socialfeedCarousel" class="carousel slide" data-ride="carousel">
                                <div class="carousel-inner">
                                  <div class="carousel-item ss_facebook active">
                                  <h3 class="">Facebook</h3>
                                    <iframe name="f21208a877b4178" width="350px" height="260px" data-testid="fb:page Facebook Social Plugin" title="fb:page Facebook Social Plugin" frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no" allow="encrypted-media" src="https://www.facebook.com/v2.3/plugins/page.php?app_id=&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fx%2Fconnect%2Fxd_arbiter%2F%3Fversion%3D46%23cb%3Df10d265bb5e618c%26domain%3Dpib.gov.in%26origin%3Dhttps%253A%252F%252Fpib.gov.in%252Ff1ab8bad6beb028%26relation%3Dparent.parent&amp;container_width=320&amp;height=260&amp;hide_cover=false&amp;href=https%3A%2F%2Fwww.facebook.com%2Fpibindia&amp;locale=en_US&amp;sdk=joey&amp;show_facepile=false&amp;show_posts=true&amp;width=400" style="border: none; visibility: visible; width: 320px; height: 260px;" class=""></iframe>
                                  </div>
                                  <div class="carousel-item ss_insta">
                                  <h3 class="">Instagram</h3>
                                  <a class="twitter-timeline" data-width="320" data-height="260" href="https://twitter.com/PIB_India?ref_src=twsrc%5Etfw">Insta Stories by PIB_India</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                                  </div>   
                                   <div class="carousel-item ss_linkedin">
                                    <h3 class="">Linkedin</h3>
                                  <a class="twitter-timeline" data-width="320" data-height="260" href="https://twitter.com/PIB_India?ref_src=twsrc%5Etfw">Linkedin Feeds by PIB_India</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                          
                                  <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                                  </div>  
                                </div>                               
                              </div>
                        </div>
                    </div>
                    
                    
                    
                       <div class="col-md-4">
                        <div class="common-box">                            
                        <!--/.Controls-->
                            <div id="socialfeedCarousel3" class="carousel slide" data-ride="carousel">
                                <div class="carousel-inner">
                                  <div class="carousel-item ss_facebook active">
                                  <h3 class="">Youtube</h3>
                                    <div class="card mb-2">
                                      <div class="vidiobox">
                                <!-- <a href="javascript:void(0)" class="openVideoModal" data-toggle="modal" data-src="https://www.youtube.com/embed/QMiRry1m34w&t=2s" data-target="#videoModal"><img src="assets/images/vidios_thumbnail.jpg" alt="video"></a> -->
                                <iframe id="vid_frame" style="width:100%; height:250px" src="https://www.youtube.com/embed/0V_H0GBt2rA" frameborder="0" allowfullscreen=""></iframe>
                                </div>
                                    </div> 
                                  </div>                                  
                                  </div>  
                                   
                                </div>                               
                              </div>
                        </div>
                    </div>
                    
                    
        
                    
                    
                </div>
            </div>
      
    <!--Socail Media Section End-->

    <!--Video Photo Section-->
        <section class="videoPhoto">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="common-box videos">
                            <h2>Videos</h2>
                            <div class="innerbg">
                            <div class="vidiobox">
                                <!-- <a href="javascript:void(0)" class="openVideoModal" data-toggle="modal" data-src="https://www.youtube.com/embed/QMiRry1m34w&t=2s" data-target="#videoModal"><img src="assets/images/vidios_thumbnail.jpg" alt="video"></a> -->
                                <iframe id="vid_frame" style="width:100%; height:197px" src="https://www.youtube.com/embed/QMiRry1m34w" frameborder="0" allowfullscreen=""></iframe>
                                <div class="overlay">Earthquake Force Nepal MH To Tents In Katmandu.</div>
                            </div>
                           
                            <a href="videos.html" class="viewAll pull-right">View All</a>
                        </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="common-box radios">
                            <h2>Radio Programs</h2>
                            <div class="innerbg">
                            <ul>
                                <li class="d-flex">
                                    <div class="icon">
                                        <a href="javascript:void(0)" class="openAudioModal" data-toggle="modal" data-src="" data-target="#audioModal">
                                            <img src="assets/images/audio_icon.png" alt="audio">
                                        </a>
                                    </div>
                                    <div class="audio-content">
                                        <h3>50th Anniversary Celebrations of Indo</h3>
                                        <p>In December 1971, the Indian Armed Forces secured a decisive and historic ..</p>
                                    </div>
                                </li>
                                <li class="d-flex">
                                    <div class="icon">
                                        <a href="javascript:void(0)" class="openAudioModal" data-toggle="modal" data-src="" data-target="#audioModal">
                                            <img src="assets/images/audio_icon.png" alt="audio">
                                        </a>
                                    </div>
                                    <div class="audio-content">
                                        <h3>50th Anniversary Celebrations of Indo</h3>
                                        <p>In December 1971, the Indian Armed Forces secured a decisive and historic ..</p>
                                    </div>
                                </li>
                                <li class="d-flex"> 
                                    <div class="icon">
                                        <a href="javascript:void(0)" class="openAudioModal" data-toggle="modal" data-src="" data-target="#audioModal">
                                            <img src="assets/images/audio_icon.png" alt="audio">
                                        </a>
                                    </div>
                                    <div class="audio-content">
                                        <h3>50th Anniversary Celebrations of Indo</h3>
                                        <p>In December 1971, the Indian Armed Forces secured a decisive and historic ..</p>
                                    </div>
                                </li>
                            </ul>
                            <a href="radio-programs.html" class="viewAll pull-right">View All</a>
                        </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="common-box photos photos_mb">
                            <h2>Photos</h2>
                            <div class="innerbg1">
                            <div id="gallerySlider" class="carousel slide" data-ride="carousel">
                                <div class="carousel-inner">
                                  <div class="carousel-item active">
                                    <img class="d-block w-100" src="assets/images/gallery_image_1.png" alt="gallery image">
                                    <div class="overlay">Earthquake Force Nepal MH To Tents In Katmandu.</div>
                                  </div>
                                  <div class="carousel-item">
                                    <img class="d-block w-100" src="assets/images/gallery_image_1.png" alt="gallery image">
                                    <div class="overlay">Earthquake Force Nepal MH To Tents In Katmandu.</div>
                                  </div>
                                  <div class="carousel-item">
                                    <img class="d-block w-100" src="assets/images/gallery_image_1.png" alt="gallery image">
                                    <div class="overlay">Earthquake Force Nepal MH To Tents In Katmandu.</div>
                                  </div>
                                </div>
                                <a class="carousel-control-prev" href="#gallerySlider" role="button" data-slide="prev">
                                    <i class="fas fa-angle-left"></i>
                                </a>
                                <a class="carousel-control-next" href="#gallerySlider" role="button" data-slide="next">
                                    <i class="fas fa-angle-right"></i>
                                </a>
                              </div>
                              <a href="photos.html" class="viewAll pull-right">View All</a>
                              </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    <!--Video Photo Section-->

    <!---important Link--->
        <section class="importantLink">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h3>Important Links</h3>
                    </div>
                </div>
                <div class="row">
                   
                    <div class="col-md-12">
                        <div class="common-box">
                            <div class="heading">
                                Archives
                            </div>
                            <div class="icon">
                                <img src="assets/images/archive_icon.png" alt="Archive">
                            </div>
                        </div>
                    </div>
                   
                </div>
            </div>
        </section>
    <!---important Link--->

    <!----Footer Slider---->
    <section class="foterSlider">
    
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                     <!--Carousel Wrapper-->
       <div class="footerSlider">
       
  <img src="assets/images/footer_slider_img1.png" alt="press release pic">
  <img src="assets/images/footer_slider_img2.png" alt="press release pic">
  <img src="assets/images/footer_slider_img3.png" alt="press release pic">
  <img src="assets/images/footer_slider_img4.png" alt="press release pic">
  <img src="assets/images/footer_slider_img5.png" alt="press release pic">
  <img src="assets/images/footer_slider_img6.png" alt="press release pic">
  <img src="assets/images/footer_slider_img7.png" alt="press release pic">
 <img src="assets/images/footer_slider_img2.png" alt="press release pic">
 
    <!--/.Carousel Wrapper-->
                </div>
            </div>
        </div>
      
    </section>
    <!----Footer Slider---->

    <!--Footer link-->

    <section class="footerlink">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul>
                        <li>
                            <a href="#">Website Policies</a>
                        </li>
                        <li>
                            <a href="#">Terms & Conditions </a>
                        </li>
                        <li>
                            <a href="#">Help</a>
                        </li>
                        <li>
                            <a href="#">Privacy Policy</a>
                        </li>
                        <li>
                            <a href="#">Feedback</a>
                        </li>
                        <li>
                            <a href="#">Message of ministry</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
<!--Footer link-->

<!---footer-->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="left-footer">
                        <p><span>Copyright @2020</span>  Ministry of Defence L-1 Block, Church Road,   New Delhi-110001</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="left-footer">
                        <p class="text-right"><span>Visitor Counter:</span> 102439   <span>Updated On:</span>  24 May 2021</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
<!---footer-->

<!--Audio Play Section Modal for Video Play-->
<!-- Modal -->
<div class="modal fade" id="audioModal" tabindex="-1" role="dialog" aria-labelledby="audioModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body text-center">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <!-- 16:9 aspect ratio -->
                <audio controls>
                    <source id="audioSrc" src="assets/audio/audio.mp3" type="audio/mpeg">
                  </audio>
            </div>

        </div>
    </div>
</div>
    
<!--Audio Play Section Modal for Video Play-->
</body>

</html>